* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top {
    height: 100px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-end;
    background-color: yellow;

  &__logo {
      height: 35px;
      width: 188px;

      img {
        width: 100%;
      }
  }

  &__nav {
    height: 100%;
    display: flex;
    // justify-content: flex-end;
    align-content: center;
    flex-grow: 2;
    flex-basis: auto;
  }

  &__button {
    flex-grow: 1;
    justify-self: flex-end;
  }

}
